body{
    margin: 0em;
    font-family:poppins,sans-serif;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.header{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    margin-top: 5px;
}
section{
    height: 500px;
}
.link-url{
    text-decoration: none;
    background-image: linear-gradient(45deg, red,yellow);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    padding:10px;

}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
   margin-top: 40px;
}
.heading-3{
    text-align: center;
    font-size: 30px;
}
.skill-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    margin-top: 40px;
}
#skills{
    text-align: left;
    font-size: 30px;
}
.pic-1{
    width: 25%;
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    padding-left: 2%;
}
.pic-1 img{
 width: 100%;
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    margin-top: 40px;
}
.client{
    text-align: center;
    margin-top: 70px;
}
.heading-4{
    text-align: center;
    margin-top: 0;
    color: dimgray;
}
.comment{
    text-align: center;
    margin-top: 50px;
}
.big{
    font-size: 30px;
}
.message{
    text-align: center;
    background-color: red;
    margin-top: 50px;
    border: 2px solid orangered;
    border-radius: 5px;
    margin: 50px 400px;
    padding: 30px;
}
.link-button{
    text-decoration: none;
    color: white;
}
footer p{
    text-align: center;
    margin-top: 150px;
    font-size: 15px;
    font-style: italic;
}
.footer{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
}